*{
	padding: 0;
	margin: 0;
}
body{
	background: #f2f2f2;
	max-width: 750px;
	margin: 0 auto 2.6rem;
}
a{ color:#666; }
ul,ol,li { list-style: none; }
.clear{clear:both; height: 0; line-height: 0; font-size: 0}  
.clearfix{  
        *zoom:1;  
    }  
.clearfix:after{  
        content: "";  
        display: block;  
        clear: both;  
    } 
.h2 {
	height: 2rem;
}
.fl { float: left; }
.fr { float: right; }
.bg2 { display: block; margin: 0.5rem 0 ; height: 0.2rem ; background: #dfdfdf;}

#nav {
	padding: 1rem 0.5rem;
	width: 99%;
	margin: 1.2rem auto;
	background-color: #98aab4;
	border-radius: 25px;
}
#nav a {
	display: block;
	width: 25%;
	color:#666;
	/*padding: 0.1rem 1%;*/
	text-align: center;
	font-size: 0.9rem;
	float: left;
}
#nav a img{
	width: 80%;
	display: block;
	margin: 0.1rem auto;
}
/*
#nav a:nth-child(1) {
	background:url(../images/bh_dichan_icon.png) no-repeat center top;
	background-size: 80% auto;
}
#nav a:nth-child(2) {
	background:url(../images/bh_yuetu_icon.png) no-repeat center top;
	background-size: 80% auto;
}
#nav a:nth-child(3) {
	background:url(../images/bh_nongye_icon.png) no-repeat center top;
	background-size: 80% auto;
}
#nav a:nth-child(4) {
	background:url(../images/bh_keji_icon.png) no-repeat center top;
	background-size: 80% auto;
}*/

#search {
	margin: .8rem 0.5rem 0rem 0.5rem;
	border: 2px solid #d5d5d5;
	border-radius:0.8rem;
	height: 2rem;
	overflow: hidden;
	background-color: #fff;
}
#search span{
	line-height: 2rem;
	text-align: left;
	display: block;
	font-size: 0.9rem;
	color: #d5d5d5;
	padding-left: 2.5rem;
	background: #fff url(../images/bh_sousuo_icon.png)  no-repeat   left center ;
	background-size: auto 80%;
	margin-left: 25%;
}
#search form {
	display: none; 
}
#search form .keyword {
	height: 2.5rem;
	line-height: 3rem;
	width: 85%;
	float: left;
	border:none;
}
#search form .btn {
	height: 2.5rem;
	line-height: 3rem;
	width: 15%;
	float: right;
	border: none;
	background: #fff url(../images/bh_sousuo_icon.png)  no-repeat   center center ;
	background-size: auto 70% ;
}
.title  {
	font-size: 0.9rem;
	height: 2.5rem;
	line-height: 2.5rem;
	margin: 0.5rem  2% 0.5rem 0 ;
}
.title .blue-text{
	color: #495682;
	font-size: 1rem;
	margin-left: 0.5rem;
	font-weight: 500;
}
.blue-text sub{
	font-size: .5rem;
	margin-left: .5rem;
}
.title i {
	height: 3rem;
	display: block;
	float: left;
	width: 0.5rem;
	margin-right:1rem;
	background:#f16b45;
}
.title img {
	width: 100%;
}
.sub-text{
	color: #495682;
	font-size: .4rem;
}

.seller {
	width: 100%;
}
.box_two {
	padding: 0.5rem 1.5%;
}
.box_two a {
	display: block;
	width: 48%;
	float: right;

}
.box_two a:nth-child(odd){
	float: left;
} 
.box_two a img{
	width: 100%;
}
.ico{
	color: #fc8b15;
	padding: 0 0.5rem;
	height: 1.7rem;
	line-height: 1.7rem;
	display: inline-block;
	font-size: 0.8rem;
	border: 0.05rem solid #fc8b15;
	border-radius:0.5rem;
	margin-right: 0.5rem;
}
.cate-title{
    text-align: center;
    font-size: 1.2rem;
    color: #cb544e;
    width: 6rem;
    margin: 0 auto;
    padding: 0.26rem 0;
    border: 2px solid #beccd5;
    box-shadow: -5px 5px 5px #c1c2c4;
}
.daliy-cate-title{
	text-align: center;
	font-size: 1.3rem;
	color: #cb544e;
	font-weight: bold;
	word-spacing: 4px;
	letter-spacing: 5px;
}
.daliy-title{
	text-align: center;
	margin: 2rem 0 1rem;
}
p.daliy-cate-title span{
	color: #4a5680;
	font-size: 1rem;
	font-weight: 500;
}
.goods-box{
	overflow: hidden;
	zoom: 1;
}
.goods-control{
	width: 100%;
	text-align: left;
	padding-bottom: 0.7rem;
}
.goods-col-1{
	width: 98%;
	margin: 0 auto;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	overflow: hidden;
	background-color: #fff;
	zoom: 1;
}
.goods-col-1 img{
	float: left;
	width: 55%;
	height: 13rem;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}

.good-info-col-1{
	float: left;
	width: 45%;
	webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	padding-top: 1.8rem;
	padding-left: .6rem;
	padding-right: .2rem;
}
.good-info-col-1 h4{
	font-size: .9rem;
	line-height: 1.6rem;
	height: 1.6rem;
	color: #000;
	font-weight: 100;
	overflow: hidden;
}
.good-info-col-1 p{
	max-height: 2.8rem;
	overflow: hidden;
	line-height: 1.5rem;
}
.good-info-col-1 .goods-control{
	margin-top: 2rem;
}
.icon{
	display: inline-block;
}
.icon-buy-border{
    width: 14.44%;
    border: 1px solid #cb544e;
    padding: 1px;
    min-width: 30px;
    max-width: 56px;
}
.icon-buy{
    display: block;
	background-color: #cb544e;
    color: #fff;
    font-size: 0.6rem;
    word-spacing: 4px;
    text-align: center;
}
.icon-rmb{
    color: #e98724;
    font-size: .75rem;
    font-weight: bolder;
}
.good-info .price {
	color: #f95106;
	font-size: 1.2rem;
}
.icon-cart{
	background: url("../images/icon-cart.png") center no-repeat;
	height: 1rem;
	width: 14%;
	background-size: contain;
    float: right;
}
.splite-line{
    border-top: 1px dashed #888888;
	text-align: center;
}
.box_two a p{
	padding: 0.5rem;
	height: 6rem;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.ad_title{
	background: #ca554e;
	width: 100%;
	padding: 1rem 0;
	
	margin: 1rem 0 .5rem;

}
.ad_title h3{
	background: #fefefe;
	color: #c65746;
	font-size:1.5rem; 
	text-align: center;
	width: 40%;
	padding:0.5rem 0rem;
	margin:0.2rem auto;
}
.ad_title p {
	color: #fefefe;
	text-align: center;
	font-size:2.0rem; 
	padding:1.5rem 0;
}
.trem img {
	width: 100%;
}
.trem .img {
	position: relative;
	width: 100%;
}
.trem .img span.title,.trem .img  font{
	position: absolute;
	display: block;
	width: 100%;
	text-align: center;	
	bottom:0px;
	left: 0px;
	height: 2rem;
	line-height: 2rem;
	overflow: hidden;
	color: #fff;
	text-overflow: ellipsis;
	white-space: nowrap;
	
}
.trem .img span.title{
	background: #000;
	margin:0;	
	  filter:alpha(opacity=30);  
      -moz-opacity:0.3;  
      -khtml-opacity: 0.3;  
      opacity: 0.3;  
}
.trem dl{
	padding: 0.5rem 2% ;	
}
.trem .desc {
	padding:0 2%   0.5rem 2% ;	
}
.redBtn{
	background: #f16b45;
	padding: 0.5rem;
	display: inline-block;
	border-radius: 0.5rem;
	color: #fff;
}
.trem .left dl dt {
	color: #d05651;
	font-size: 2rem;
	height: 2.5rem;
	line-height: 2.5rem;
	overflow: hidden;
}
.trem .left dl dd {
	font-size: 0.8rem;
	height: 1.5rem;
	line-height: 1.5rem;
	overflow: hidden;
	color: #31302e;
}
.trem .left dl dd font{
	color: #d05651;
	font-size: 1.4rem;
}
.trem .left dl dd span{
	color: #d05651;
}
.trem .left dl dd span.btn {
	background:  #d05651;
	color: #fff;
	padding: 0.2rem 0.5rem;
	border-radius:0.3rem;
} 
.trem .right{
	width: 55%;
	float: right;
	border: 0.1rem solid #b2bcbd;
	color: #b2bcbd;
	font-size: 0.8rem;
	margin: 0.3rem 1%;
	padding: 0.3rem 1%;
}
.goodsbox{
	padding-bottom: 1rem;
	width: 92%;
	margin: 0 auto;
}
.goodsbox ul{
	overflow: hidden;
	zoom: 1;
}
.goodsbox ul li {
	width: calc((100% - 2%)/2);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	margin:  .2rem 0;
	min-height: 10rem;
	font-size: 0.6rem;
	display: block;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background-color: #fff;
	float: left;
}
.goodsbox ul li:nth-child(even){
	margin-left: 2%;
}

.goodsbox .good-info{
	width: 98%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	overflow: hidden;
	padding: 0 .5rem;
    margin: 0.12rem;
}
.goodsbox ul li div h4{
	font-size: 0.9rem;
	font-weight: 100;
	line-height: 1.2rem;
	overflow: hidden;
	color: #000;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.goodsbox ul li div p{
	font-size: 0.8rem;
	margin-top: 10px;
	font-weight: 100;
	height: 2.2rem;
	line-height: 1.2rem;
	color: #3a3a3a;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
	overflow:hidden;
	text-overflow:ellipsis;
	display:-webkit-box;
	-webkit-line-clamp:2;
}
.goodsbox ul li div font{
	width: 100%;
	position: absolute;
	bottom:0.5rem;
	left: 52%; 
}
.goodsbox ul li a{
	display: block;
	overflow: hidden;
	zoom: 1;
}
.goodsbox ul li img {
	width: 100%;
	float: left;
	-webkit-border-top-left-radius: 8px;
	-moz-border-top-left-radius: 8px;
	border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-top-right-radius: 8px;
	border-top-right-radius: 8px;
}

.goodsinfo {
	padding: 0.5rem 2%;
}
.goodsinfo .fl{
	width: 48%;
}
.goodsinfo .fr{
	width: 47%;
}
.goodsinfo h3{
	color: #d54b41 ;
	font-size: 1.8rem;
	line-height: 2.5rem;
	margin: 0.5rem 0;
}
.goodsinfo .price {
	font-size: 1.5rem;
	margin: 0.5rem 0;
	display: block;
}
.goodsinfo p span {
	display: inline-block;
	width: 49%;
	float: left;
	background: #d54b41;
	border-radius: 0.5rem 0 0 0.5rem;
}
.goodsinfo p{
	text-align: center;
	color: #fff;
	line-height: 2.5rem;
	margin: 0 0 0.5rem 0;
	display: block;
}
.goodsinfo p a {
	display: inline-block;
	width: 49%;
	float: left;
	color: #fff;
	background: #fb8a14;
	border-radius: 0 0.5rem  0.5rem 0;
}

.goodsinfo ul li {
	color: #8f8f94;
	font-size: 0.8rem;
	list-style: disc;
	margin-left: 1rem;
	line-height: 2.1rem;
	height: 2.1rem;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hai-bao{
	margin: 1rem auto 0;
}
.hai-bao img{
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	width: 100%;
	max-height: 15rem;
}

.bottom-log{
	text-align: center;
	color: #c9c9ca;
	font-size: 1rem;
	letter-spacing: 5px;
	line-height: 1.5rem;
}
.bottom-log img{
	width: 7rem;
}
footer {
	position: fixed;
	z-index: 9999;
	left: 0;
	bottom: 0;
	width: 100%;
	background: #fefefe;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	height: 2.6rem;
}
footer ul li a {
	display: inline-block;
	width: 20%;
	text-align: center;
	float: left;
	height: 2.3rem;
	line-height: 3.5rem;
	font-size: 0.8rem;
	color: #666;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

footer ul li:nth-child(1) a {
	background: url(../images/bh_shouye_icon.png) no-repeat top center;
	background-size: 1.5rem auto  ;
}
footer ul li:nth-child(2) a {
	background: url(../images/bh_remai_icon.png) no-repeat top center;
	background-size: 1.5rem auto  ;
}
footer ul li:nth-child(3) a {
	background: url(../images/bh_fenxiao_icon.png) no-repeat  top center;
	background-size: 1.5rem auto  ;
}
footer ul li:nth-child(4) a {
	background: url(../images/bh_wode_icon.png) no-repeat top center;
	background-size: 1.5rem auto  ;
}
footer ul li:nth-child(5) a {
	background: url(../images/ico_13.png) no-repeat top center;
	background-size: 1.5rem auto  ;
}
#mark {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 100%;
	display: none;
	background:#000 url(../images/loader.gif) no-repeat center center;
	background-size: 5% auto;
	 filter:alpha(opacity=30);  
      -moz-opacity:0.3;  
      -khtml-opacity: 0.3;  
      opacity: 0.3;  
}

/******购物车确认弹窗******/
.touchweb_com-indexPop { display: none; position: fixed; left: 0; top: 0;  display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -ms-flex-pack: center; -webkit-box-pack: center; box-pack: center; -webkit-justify-content: center; justify-content: center; -ms-flex-align: center; -webkit-box-align: center; box-align: center; -webkit-align-items: center; align-items: center; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); visibility: hidden; opacity: 0; -webkit-transition: opacity .3s; transition: opacity .3s; z-index:99999999 }
.touchweb_com-indexPop.show { opacity: 1; visibility: visible; }
.touchweb_com-indexPop .inner { width: 235px; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 18px 20px 15px; -webkit-border-radius: 5px; border-radius: 5px; background-color: #fff; height:auto; }
.touchweb_com-indexPop .inner .btn_box { display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; -ms-flex-pack: justify; -webkit-box-pack: justify; box-pack: justify; -webkit-justify-content: space-between; justify-content: space-between; height: 30px; margin-top: 10px; text-align: center; }
.touchweb_com-indexPop .inner .btn_box .btn { display: block; height: 30px; line-height: 28px; width: 85px; font-size: 1.4rem; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ff3c3c; -webkit-border-radius: 4px; border-radius: 4px; color: #333; }
.touchweb_com-indexPop .inner .btn_box .btn_confirm { color: #fff; background-color: #ff3c3c; }
.touchweb_com-indexPop .inner .btn_box .btn_confirm:active { background-color: #ff0909; }
.touchweb_com-indexPop .inner .btn_box .btn_cancel { border: 1px solid #25C6FC; background-color: #25C6FC; color:#FFF }
.touchweb_com-indexPop .inner .btn_box .btn_cancel:active { background-color: #25C6FC; }
.touchweb_com-indexPop { font-size:.12rem;}
.touchweb_com-indexPop .inner .content_name {margin-bottom: 23px;}
.touchweb_com-indexPop .inner .content_name p {line-height:20px;font-size:14px; color: #000;}
.touchweb_com-indexPop .inner .btn_box .btn { font-size:14px;}
